@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    padding-top: 1rem;
}

.header {
    height: 45vh;
    width: 100%;
    background-image: url(../../assets/weather.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
}

.navbar .link-list {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
}

.link-list .link-item.active a {
    color: #007AFF;
}

.link-list .link-item a:hover {
    color: #007AFF;
}

.link-list .link-item a {
    transition: .3s all;
    font-weight: 450;
    font-size: 1.2rem;
    color: #fff;
}

.contact-us {
    background-color: #007AFF;
    border-radius: 12px;
    padding: .5rem 1.7rem;
    cursor: pointer;
    transition: .3s all;
    border: 1px solid #007AFF;
}

.contact-us a {
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
}

.contact-us:hover {
    background: none;
    border: 1px solid #007AFF;
}

.contact-us:hover p {
    color: #007AFF;
}

.active {
    color: #007AFF;
}

.menu-hamburgare {
    display: none;
}

.about-del-top {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 12rem;
}

.about-del {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1.875rem;
    gap: 1rem;
}

.about-del-top img {
    position: absolute;
    width: 30rem;
    top: -12.5rem;
    border-radius: 14px;
}

h1 {
    color: #fff;
    font-size: 1.8rem;
    padding-right: 2rem;
    margin-top: 4rem;
}

footer {
    width: 100%;
    background: linear-gradient(rgb(108, 172, 218), rgb(48, 62, 143));
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 10rem;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2rem;
    color: #f6f6f6;
    margin: 0 0.625rem;
    display: inline-block;
    transition: 0, 5s;
}

footer .social-icon li a:hover {
    transform: translateY(-0.625);
    color: rgb(192, 12, 12);
}

.copyright {
    display: flex;
    text-align: center;
    align-items: center;
}

footer p {
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: auto;
}

@media screen and (max-width: 768px) {

    .header {
        height: 35vh;
    }

    .link-list {
        display: none !important;
    }

    .header.show {
        height: 60vh;
    }

    .link-list.show {
        display: flex !important;
        flex-direction: column;
        margin-top: 2rem !important;
        gap: 15px !important;
        margin: auto;
    }

    .contact-us {
        display: none;
        margin: 2rem auto;
    }

    .contact-us.show {
        display: block;
    }

    h1 {
        margin-top: 2rem;
        padding-right: 0;
    }

    .header.show h1 {
        margin-top: 0;
    }


    .navbar {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-hamburgare {
        display: inline-block !important;
    }

    .menu-hamburgare img {
        position: absolute;
        top: 14px;
        width: 44px;
        right: 0;
        display: inline-block !important;
    }

    .about-del-top {
        margin-bottom: 3rem;
    }

    .about-del-top img {
        width: 70%;
    }

    .about-del {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        margin: auto;
        height: 7rem;
    }

    .copyright {
        display: block !important;
    }
}

@media screen and (min-width: 510px) and (max-width: 769px) {
    .about-del-top {
        margin-bottom: 10rem;
    }

}

@media screen and (min-width: 360px) and (max-width: 390px) {
    .header.show {
        height: 70vh;
    }

    .about-del-top img {
        top: -9.5rem;
    }
}